/*------------------------------------*\
  #FOOTER-STYLES
\*------------------------------------*/

footer {
    line-height: 1.5;
    background-color: $dark-white;
    padding: 5% 5% 2%;
}

#footer-logo {
  padding-bottom: 1rem;
}
#coppy {
    text-align: center;
    color: $medium-grey;
}

////////////////////////
//Form element
////////////////////////

.flex-form {

    display: flex;
    justify-content: flex-start;
}

input[type=button],
input[type=text] {
  width: 100%;
    border: none;
    color: $dark-grey;
    padding: 8px 16px;
    text-decoration: none;

}

input[type=submit] {
    cursor: pointer;
}
