* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, a div, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, samp, small, strike, strong, sub, sup, center, dl, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body {
    line-height: 1; 
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
    color: $black;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    flex: 1;
}

body, html { width: 100%; height: 100%; background-color: white; padding: 0; margin: 0; -webkit-text-size-adjust: 100%; }

ol, ul { list-style: none; }

