/*------------------------------------*\
  #GRID GENERAL-STYLES
\*------------------------------------*/



.wrapper-row {
  display: flex;
  flex-direction: row;
  width: 90vw;
  margin: auto;
  padding: 2rem 1rem;
}

.wrapper-col {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: auto;
  padding: 2rem 1rem;
}

.flex-container {
  display: flex;

}

.space-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.col {
  flex: 1;
  padding: 1rem;
}

.col-1 {
  width: 33vw;
  padding: 1rem;
}

.col-2 {
  width: 66vw;
  padding: 1rem;
}

.center {
  text-align: center;
}


@media (max-width: 400px) {
  .wrapper-col {
    display: block;
  }
  .wrapper-row {
    display: block;
  }
}
