/*------------------------------------*\
  #HEADER-STYLES

\*------------------------------------*/


header {
    position: fixed;
  background-color: white;
  flex: none;
  width: 100%;
top: 0;
left: 0;
z-index: 9999;
padding: 0 0 0.5rem;
}

.lang-nav {
  text-align: center;
  padding: 0 0 0.81rem;
  border-bottom: thin solid $dark-white;
}

.brand-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 0.5rem 0;

}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  li {
    padding: 0 0.5rem;
  }
}

.is-active {
    border-bottom: 2px solid $dark-grey;
    color: $black;
}
