header {
    display: flex;
    flex-direction: column;
    padding: 3% 0;
    align-items: center;

    nav {
        width: 90vw;

        ul {

            display: flex;
            justify-content: space-around;
            padding: 3% 0;

            a {
                text-decoration: none;
                color: $black;
                font-weight: 500;

                &:visited {}

                &:hover {}

                &:active {
                    text-decoration: underline;
                }
            }
        }
    }

}

.brand {
    display: flex;
    justify-content: center;
}
