/* Services styles */


 .services-right {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
  padding: 2vh 0;
}

 .copy-services-wrapper {
   width: 30%;
  padding: 2vh 0;
 }

 .services-align {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding: 4% 0;
}

.services-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vh 0;
}

.service-item {
  padding: 2vh 0;
  width: 25vw;
}

.awards-slide {
  display: flex;
  flex-direction: row;
}

.award-logo {
  padding: 2vh;
}
