/*------------------------------------*\
  #TYPOGRAPHY-STYLES
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

html {
    font-size: 1em;
}

body {
    line-height: 1.45;
}

p {
    margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 2.074em;
}

h2 {
    font-size: 1.728em;
}

h3 {
    font-size: 1.44em;
}

h4 {
    font-size: 1.2em;
}

small,
.font_small {
    font-size: 0.833em;
}

.bold {
    font-weight: bold;
}

.center {
  text-align: center;
}

/* iPad 3, 4 and Pro 9.7*/
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
    html {
      font-size: 0.8em;
    }
}


/* iPhone 5, 5S, 5C and 5SE */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    html {
      font-size: 0.7em;
    }

}


////////////////////////
//Icon typography
////////////////////////

@font-face {
    font-family: 'icomoon';
    src: url('../iconFont/icomoon.eot?1u7hr9');
    src: url('../iconFont/icomoon.eot?1u7hr9#iefix') format('embedded-opentype'),
        url('../iconFont/icomoon.ttf?1u7hr9') format('truetype'),
        url('../iconFont/icomoon.woff?1u7hr9') format('woff'),
        url('../iconFont/icomoon.svg?1u7hr9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-behance_icon:before {
    content: "\e900";
}

.icon-ig_icon:before {
    content: "\e901";
}

.icon-linkedin_icon:before {
    content: "\e902";
}

.icon-twitter_icon:before {
    content: "\e903";
}
