/*------------------------------------*\
  #VARIABLE-STYLES
\*------------------------------------*/

$black: #000000;
$dark-grey: #4D4D4D;
$medium-grey: #BDBEBF;
$light-grey: #CFCFCF;
//$dark-white: #D8D8D8;
$dark-white: #F7F7F7;
$white: #FFFFFF;


//Base unit used for spacing gutters
$base-unit:8px;

//Screen Sizes
$screen-sm: 480px;
$screen-md: 624px;
$screen-lg: 744px;
