<footer>
  <div class="container">
    <div class="grid">
      <div class="col-2 col-sm">
        <figure id="footer-logo">
            <img src="../img/footerLogo.svg" alt="Perspectiva logo">
        </figure>
      </div>
    </div>

  <div class="grid grid-between">
    <div class="col col-sm">
      <p>
          t. (34) 93 540 58 41<br>
          f. (34) 93 555 68 90
      </p>
    </div>
    <div class="col col-sm">
      <p>
          Balears, 8, 08328,<br>
          Alella, Barcelona,
          Spain.<br>
          See in <a href="">map</a>
      </p>
    </div>
    <div class="col col-sm">
      <p>
          Project inquires<br>
          <a href="mailto:info@perspectiva.es">info@perspectiva.es</a></p>
      <p>
          General &amp; careers inquires<br>
          <a href="mailto:hello@perspectiva.es">hello@perspectiva.es</a></p>
    </div>
    <div class="col col-sm">
      <form class="flex-form">
          <input type="text" placeholder="our newsletter" name="email" aria-labelledby="mail input" required>
      </form>
      <ul class="social-links">
          <li><a class="social-link" href=""><span class="icon-ig_icon"></span></a></li>
          <li><a class="social-link" href=""><span class="icon-linkedin_icon"></span></a></li>
          <li><a class="social-link" href=""><span class="icon-twitter_icon"></span></a></li>
          <li><a class="social-link" href=""><span class="icon-behance_icon"></span></a></li>
      </ul>
    </div>
  </div>
</div>
  <div class="grid">
    <div class="col" id="coppy">
      <p class="font_small">&copy; 2018. Designed &amp; Coded by Perspectiva.</p>
    </div>
  </div>

</footer>

<script type="text/javascript" src="js/vendor.js"></script>
<script type="text/javascript" src="js/app.js"></script>

</body>

</html>
