<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Perspectiva</title>
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <!-- best size for Facebook: 1300 X 630 px -->
    <meta property="og:image" content="" />
    <meta property="og:url" content="">
    <meta property="og:type" content="" />
    <meta property="og:site_name" content="" />
    <meta property="article:author" content="" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@fil_ter" />
    <link rel="stylesheet" href="css/app.css" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>

    <header class="w3-container">
        <figure class="brand">
            <a href="index.html"><img src="../img/mainLogo.svg" alt="Perspectiva logo"></a>
        </figure>
        <nav role="navigation">
            <ul>
                <li><a class="nav-link" href="">Projects</a></li>
                <li><a class="nav-link" href="">About</a></li>
                <li><a class="nav-link"  href="">Services</a></li>
            </ul>
        </nav>
    </header>
