{{> header}}

<main class="site-content">

    <!-- main wrapper push down sticky footer-->

    <div class="container">
        <figure>
            <img src="../img/hero_image.jpg" alt="Perspectiva Headquarters" />
        </figure>

    </div>

    <div class="container" data-aos="fade-up" data-aos-duration="2000">
        <div class="grid">
            <div class="col col-8 col-sm">
                    <p>Perspectiva</p>
                    <span class="horizontal-line"></span>
                    <p>Client intuition, immersive research, coherent design, invisible technology, and principles of magic are the strands of our innovation process.</p>
                    <p>It is this precise alchemy that enables us to create a clear and pure design experience which looks and feels effortless, but is completely underpinned by precision, skill and craft.</p>
            </div>
            <div class="col col-sm" data-aos="fade-up" data-aos-duration="2000">

                    <p>Mission</p>
                    <span class="horizontal-line"></span>
                    <p>Client intuition, immersive research, coherent design, invisible technology, and principles of magic are the strands of our innovation process.</p>


                    <p>Design Values</p>
                    <span class="horizontal-line"></span>
                    <p class="bold">Empathy<br />
                        Clarity<br />
                        Innovation<br />
                        Timeless</p>

            </div>
        </div>
    </div>

  <div class="container">
    <div class="grid">
      <div class="col col-sm" data-aos="fade-up" data-aos-duration="2000">
        <figure>
          <img src="../img/squarePortrait.jpg" alt="Perspectiva Headquarters" />
        </figure>
        <h4>Marc Real</h4>
        <p>CEO</p>
        <span class="horizontal-line"></span>
        <ul class="social-links">
            <li><a class="social-link" href=""><span class="icon-ig_icon"></span></a></li>
            <li><a class="social-link" href=""><span class="icon-linkedin_icon"></span></a></li>
            <li><a class="social-link" href=""><span class="icon-twitter_icon"></span></a></li>
        </ul>
      </div>
      <div class="col col-sm" data-aos="fade-up" data-aos-duration="2000">
        <figure>
          <img src="../img/squarePortrait.jpg" alt="Perspectiva Headquarters" />
        </figure>
        <h4>Nico Alonso</h4>
        <p>Design Lead</p>
        <span class="horizontal-line"></span>
        <ul class="social-links">
            <li><a class="social-link" href=""><span class="icon-ig_icon"></span></a></li>
            <li><a class="social-link" href=""><span class="icon-linkedin_icon"></span></a></li>
            <li><a class="social-link" href=""><span class="icon-twitter_icon"></span></a></li>
        </ul>
      </div>
      <div class="col col-sm" data-aos="fade-up" data-aos-duration="2000">
        <figure>
          <img src="../img/squarePortrait.jpg" alt="Perspectiva Headquarters" />
        </figure>
        <h4>Carlos Cuadrado</h4>
        <p>Digital Art Director</p>
        <span class="horizontal-line"></span>
        <ul class="social-links">
            <li><a class="social-link" href=""><span class="icon-ig_icon"></span></a></li>
            <li><a class="social-link" href=""><span class="icon-linkedin_icon"></span></a></li>
        </ul>
      </div>
    </div>

    <div class="grid">
      <div class="col col-sm" data-aos="fade-up" data-aos-duration="2000">
        <figure>
          <img src="../img/squarePortrait.jpg" alt="Perspectiva Headquarters" />
        </figure>
        <h4>Jaume Mas</h4>
        <p>Engineer</p>
        <span class="horizontal-line"></span>
        <ul class="social-links">
            <li><a class="social-link" href=""><span class="icon-linkedin_icon"></span></a></li>
            <li><a class="social-link" href=""><span class="icon-twitter_icon"></span></a></li>
        </ul>
      </div>
      <div class="col col-sm" data-aos="fade-up" data-aos-duration="2000">
        <figure>
          <img src="../img/squarePortrait.jpg" alt="Perspectiva Headquarters" />
        </figure>
        <h4>Valerio Ramírez</h4>
        <p>CTO</p>
        <span class="horizontal-line"></span>
      </div>
      <div class="col col-sm" data-aos="fade-up" data-aos-duration="2000">
        <figure>
          <img src="../img/squarePortrait.jpg" alt="Perspectiva Headquarters" />
        </figure>
        <h4>Clara Quero</h4>
        <p>Producer</p>
        <span class="horizontal-line"></span>
      </div>
    </div>

  </div>

    <div class="container" data-aos="fade-up" data-aos-duration="2000">
        <div class="grid">
            <div class="col col-3 col-sm">
                <div class="project-title">
                  <span class="horizontal-line"></span>
                    <h4>Perspectiva</h4>

                </div>
                <p>
                    Balears, 8, 08328,
                    Alella, Barcelona, Spain.
                </p>
                <div class="" id="mail">
                  <p>
                      Project inquires<br>
                      <a href="mailto:info@perspectiva.es">info@perspectiva.es</a></p>
                    <p>
                        General &amp; careers inquires<br>
                        <a href="mailto:hello@perspectiva.es">hello@perspectiva.es</a></p>

                </div>

            </div>
            <div class="col">
                <iframe src="https://snazzymaps.com/embed/115810" width="100%" height="100%" style="border:none;"></iframe>
            </div>

        </div>
    </div>


</main>
{{> footer}}
