{{> header}}

<section role="main" class="site-content">
    <!-- main wrapper push down sticky footer-->

    <div class="flex-container wrapper-center">
        <figure class="col-2">
            <img src="../img/hero_image.jpg" alt="Perspectiva Headquarters" />
        </figure>

    </div>

    <div class="container" data-aos="fade-up" data-aos-duration="2000">
        <div class="wrapper-row">
            <div class="col">
                <div class="project-title">
                    <p>Perspectiva</p>
                    <div class="em-dash"></div>
                    <p>Client intuition, immersive research, coherent design, invisible technology, and principles of magic are the strands of our innovation process.</p>
                    <p>It is this precise alchemy that enables us to create a clear and pure design experience which looks and feels effortless, but is completely underpinned by precision, skill and craft.</p>
                </div>
            </div>
            <div class="col-1">
                <div class="project-title">
                    <p>Mission</p>
                    <div class="em-dash"></div>
                    <p>Client intuition, immersive research, coherent design, invisible technology, and principles of magic are the strands of our innovation process.</p>
                </div>
                <div class="project-title">
                    <p>Design Values</p>
                    <div class="em-dash"></div>
                    <p class="bold">Empathy<br />
                        Clarity<br />
                        Innovation<br />
                        Timeless</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container" data-aos="fade-up" data-aos-duration="2000">
        <div class="wrapper-row">
            <div class="col portrait">
                <figure class="">
                    <img src="../img/portrait.jpg" alt="Marc Real" />
                </figure>
                <figcaption>
                    <p>Marc Real</p>
                    <div class="em-dash"></div>
                    <p>CEO</p>
                    <ul class="social-links">
                        <li><a class="social-link" href=""><span class="icon-ig_icon"></span></a></li>
                        <li><a class="social-link" href=""><span class="icon-linkedin_icon"></span></a></li>
                        <li><a class="social-link" href=""><span class="icon-twitter_icon"></span></a></li>
                    </ul>
                </figcaption>
            </div>

            <div class="col">
                <figure class="">
                    <img src="../img/portrait.jpg" alt="Marc Real" />
                </figure>
                <div class="project-title">
                    <p>Marc Real</p>
                    <div class="em-dash"></div>
                    <p>CEO</p>
                </div>
            </div>
        </div>

        <div class="wrapper-row">
            <div class="col portrait">
                <figure class="">
                    <img src="../img/portrait.jpg" alt="Marc Real" />
                </figure>
                <figcaption>
                    <p>Marc Real</p>
                    <div class="em-dash"></div>
                    <p>CEO</p>
                </figcaption>
            </div>

            <div class="col">
                <figure class="">
                    <img src="../img/portrait.jpg" alt="Marc Real" />
                </figure>
                <div class="project-title">
                    <p>Marc Real</p>
                    <div class="em-dash"></div>
                    <p>CEO</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container" data-aos="fade-up" data-aos-duration="2000">
        <div class="wrapper-row">
            <div class="col-1">
                <div class="project-title">
                    <p>Perspectiva</p>
                    <div class="em-dash"></div>
                </div>
                <p>
                    Balears, 8, 08328,
                    Alella, Barcelona, Spain.
                </p>
                <div class="" id="mail">
                    <p>
                        General inquires<br>
                        <a href="mailto:hello@perspectiva.es">hello@perspectiva.es</a></p>
                    <p>
                        Project inquires<br>
                        <a href="mailto:info@perspectiva.es">info@perspectiva.es</a></p>
                    <p>
                        Careers<br>
                        <a href="mailto:careers@perspectiva.es">careers@perspectiva.es</a><br>
                    </p>
                </div>

            </div>
            <div class="col">
                <iframe src="https://snazzymaps.com/embed/115810" width="100%" height="100%" style="border:none;"></iframe>
            </div>

        </div>
    </div>

</section>

{{> footer}}
