{{> header}}

<section role="main" class="main">
    <!-- main wrapper push down sticky footer-->

<div class="flex-container space-center">
  <figure class="">
    <img src="../img/hero_image.jpg" alt="Perspectiva Headquarters" />
  </figure>

</div>

<div class="wrapper-row">
  <div class="col">
    <div class="project-title">
        <p>Perspectiva</p>
        <div class="em-dash"></div>
        <p>Client intuition, immersive research, coherent design, invisible technology, and principles of magic are the strands of our innovation process.</p>
        <p>It is this precise alchemy that enables us to create a clear and pure design experience which looks and feels effortless, but is completely underpinned by precision, skill and craft.</p>
        </div>
    </div>
    <div class="col-1">
      <div class="project-title">
          <p>Mission</p>
          <div class="em-dash"></div>
          <p>Client intuition, immersive research, coherent design, invisible technology, and principles of magic are the strands of our innovation process.</p>
          </div>
          <div class="project-title">
              <p>Design Values</p>
              <div class="em-dash"></div>
              <p class="bold">Empathy<br />
                  Clarity<br />
                  Innovation<br />
                  Timeless</p>
              </div>
      </div>
  </div>

<div class="wrapper-row space-between">
  <div class="col-1">
    <div class="flex-container space-center">
      <figure class="">
        <img src="../img/marc.jpg" alt="Perspectiva Headquarters" />
      </figure>

    </div>
  </div>
  <div class="col-1">
    <div class="flex-container space-center">
      <figure class="">
        <img src="../img/marc.jpg" alt="Perspectiva Headquarters" />
      </figure>

    </div>
  </div>
</div>


</section>

{{> footer}}
