{{> header}}

<section role="main" class="main"> <!-- main wrapper push down sticky footer-->

  <div class="container-wrapper" >
    <figure class="hero">
<img src="img/hero_image.jpg" alt="Perspectiva headquater"/>
    </figure>
  </div>

  <div class="bg-mediumGrey">
      <div class="container-wrapper">

        <div class="inner-60" id="">
            <div class="project-title">
                <p>Perspectiva</p>
                <div class="em-dashWhite"></div>
            </div>
            <div class="">
                <p>Client intuition, immersive research, coherent design, invisible technology, and principles of magic are the strands of our innovation process.</p>
                <p>It is this precise alchemy that enables us to create a clear and pure design experience which looks and feels effortless, but is completely underpinned by precision, skill and craft.</p>
            </div>
        </div>


        <div class="inner-40" id="">
            <div class="project-title">
                <p>Mission</p>
                <div class="em-dashWhite"></div>
            </div>
            <div class="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et laoreet magna, quis pulvinar nisi. Aliquam sit amet facilisis purus.</p>
            </div>
            <div class="project-title">
                <p>Design Values</p>
                <div class="em-dashWhite"></div>
            </div>
            <div class="">
                <p>Empathy<br />
              Clarity<br />
            Magic<br />
             Experimentation<br />
</p>
            </div>


        </div>






      </div>
  </div>

<div class ="bg-mediumGrey">
  <div class="container-wrapper">
    <div class="flex-grid">
      <div class="col">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et laoreet magna, quis pulvinar nisi. Aliquam sit amet facilisis purus.</p>
        <ul class="social-ul">
            <li><a class="social-link" href=""><span class="icon-ig_icon"></span></a></li>
            <li><a class="social-link" href=""><span class="icon-linkedin_icon"></span></a></li>
            <li><a class="social-link" href=""><span class="icon-twitter_icon"></span></a></li>
        </ul>
      </div>
      <div class="col">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et laoreet magna, quis pulvinar nisi. Aliquam sit amet facilisis purus.</p>
        <ul class="social-ul">
            <li><a class="social-link" href=""><span class="icon-ig_icon"></span></a></li>
            <li><a class="social-link" href=""><span class="icon-linkedin_icon"></span></a></li>
            <li><a class="social-link" href=""><span class="icon-twitter_icon"></span></a></li>
        </ul>
      </div>
  </div>
  </div>
</div>












</section>


{{> footer}}
