{{> header}}

<section role="main" class="main"> <!-- main wrapper push down sticky footer-->

<div class="grid-container">
  <div class="grid-text">
<p>We are an award winning product design and innovation studio based in Barcelona.</p>
<div class="em-dash"></div>
<p>We help global organisations and startups to accelerate innovation by uncovering human insights and transforming them into tomorrow’s products, apps, services, and experiences.</p>
  </div>
  <figure class="grid-image">
    <img src="../img/home-hero.jpg" alt="Perspectiva">
  </figure>
</div>

<div class="container">
  <div class="wrapper-row">
    <div class="col-1">
    </div>
    <div class="col-2">
    </div>
  </div>
</div>

</section>

{{> footer}}
