{{> header}}

<section role="main" class="main">
    <!-- main wrapper push down sticky footer-->

    <div class="grid-container">
        <div class="grid-text">
            <p>We are an award winning product design and innovation studio based in Barcelona.</p>
            <div class="em-dash"></div>
            <p>We help global organisations and startups to accelerate innovation by uncovering human insights and transforming them into tomorrow’s products, apps, services, and experiences.</p>
        </div>
        <figure class="grid-image">
            <img src="../img/home-hero.jpg" alt="Perspectiva">
        </figure>
    </div>

    <div class="wrapper-row wrapper-end" data-aos="fade-up" data-aos-duration="2000">
        <div class="col-2-grid box rounded-shadow">
            <div class="grid-text">
                <p>Post box</p>
                <div class="em-dash"></div>
                <p>IoT</p>
            </div>
            <figure class="grid-image">
                <img src="../img/project_00.jpg">
            </figure>

        </div>
    </div>

    <div class="wrapper-row wrapper-start" data-aos="fade-up" data-aos-duration="2000">
        <div class="col-2-grid box">
            <div class="grid-text">
                <p>El Celler de Can Roca</p>
                <div class="em-dash"></div>
                <p>APP</p>
            </div>
            <figure class="grid-image">
                <img src="../img/project_02.png" alt="Perspectiva">
            </figure>

        </div>
    </div>

    <div class="wrapper-row wrapper-center" data-aos="fade-up" data-aos-duration="2000">
        <div class="col-2-grid box rounded-shadow">
            <div class="grid-text">
                <p>Slickeep</p>
                <div class="em-dash"></div>
                <p>IoT</p>
            </div>
            <figure class="grid-image">
                <img src="../img/project_03.jpg" alt="Perspectiva">
            </figure>

        </div>
    </div>

</section>


{{> footer}}
