{{> header}}

<!-- main wrapper push down sticky footer without header-->
<main class="site-content">
    <!-- main wrapper push down sticky footer-->

    <div class="container">
      <div class="grid grid-center">
        <div class="grid-text col-6 col-align-middle col-sm" data-aos="fade-up" data-aos-duration="2000">
          <h1 class="center">An award winning product design and innovation studio based in Barcelona.</h1>
          <h2 class="center">We help global organisations and startups to accelerate innovation by uncovering human insights and transforming them into tomorrow’s products, apps, services, and experiences.</h2>

        </div>
        <figure class="grid-image">
            <img src="../img/home-hero.jpg" alt="Perspectiva">
        </figure>
      </div>
    </div>

<div class="container"> <!-- main wrapper per project row for padding/margin purposes-->
  <div class="grid grid-between">  <!-- each project-->
    <div class="col-8 col-sm">
      <img src="../img/project_03.jpg" alt="Perspectiva">
    </div>
    <div class="col-3 col-sm col-middle">
      <h2>Slickeep</h2>
      <p>IoT, Organize your ideas as beautiful boards that are perfect for visual thinkers.</p>
    </div>
  </div>
</div>

<div class="container"> <!-- main wrapper per project row for padding/margin purposes-->
  <div class="grid grid-between">  <!-- each project-->
    <div class="col-3 col-sm col-middle">
      <h2>Slickeep</h2>
      <p>IoT, Organize your ideas as beautiful boards that are perfect for visual thinkers.</p>
    </div>
    <div class="col-8 col-sm">
      <img src="../img/project_03.jpg" alt="Perspectiva">
    </div>
  </div>
</div>

<div class="container"> <!-- main wrapper per project row for padding/margin purposes-->
  <div class="grid grid-between">  <!-- each project-->
    <div class="col-8 col-sm">
      <img src="../img/project_03.jpg" alt="Perspectiva">
    </div>
    <div class="col-3 col-sm col-middle">
      <h2>Slickeep</h2>
      <p>IoT, Organize your ideas as beautiful boards that are perfect for visual thinkers.</p>
    </div>
  </div>
</div>

<div class="container"> <!-- main wrapper per project row for padding/margin purposes-->
  <div class="grid grid-between">  <!-- each project-->
    <div class="col-3 col-sm col-middle">
      <h2>Slickeep</h2>
      <p>IoT, Organize your ideas as beautiful boards that are perfect for visual thinkers.</p>
    </div>
    <div class="col-8 col-sm">
      <img src="../img/project_03.jpg" alt="Perspectiva">
    </div>
  </div>
</div>

</main>


{{> footer}}
