{{> header}}

<section role="main" class="main"> <!-- main wrapper push down sticky footer-->

<div class="grid-container">
  <div class="">
<p>We are an award winning product design and innovation studio based in Barcelona.</p>
<p>We help global organisations and startups to accelerate innovation by uncovering human insights and transforming them into tomorrow’s products, apps, services, and experiences.</p>
  </div>
  
  <figure class="">
    <img src="../img/home-hero.jpg" alt="Perspectiva">
  </figure>

</div>

</section>

{{> footer}}
