{{> header}}

<main class="site-content">

    <!-- main wrapper push down sticky footer-->

    <div class="container" data-aos="fade-up" data-aos-duration="2000">
        <div class="wrapper-col">
            <div class="col-1">
                <div class="project-title">
                    <p>Method</p>
                    <span class="horizontal-line"></span>
                    <p>Client intuition, immersive research, coherent design, invisible technology, and principles of magic are the strands of our innovation process.</p>
                    <p>It is this precise alchemy that enables us to create a clear and pure design experience which looks and feels effortless, but is completely underpinned by precision, skill and craft.</p>
                    <p>We draw from myriad disciplines: electronics, interaction, industrial design, visual communication, art and magic thinking to create timeless and purposeful products and environment that have the power to elicit surprise and delight in the
                        people we design for.</p>
                    <p>Specifically, our services include:</p>
                </div>
            </div>
        </div>

    </div>

    <div class="bg-lightGrey">
        <div class="container" data-aos="fade-up" data-aos-duration="2000">
            <div class="row jus-between">
                <div class="col-1">
                    <div class="project-title">
                        <p>Exploration</p>
                        <span class="horizontal-line"></span>
                    </div>
                </div>
                <div class="col-1">
                    <p>We look into human needs, expectations and dreams to reveal the radical insights that will open up new strategic directions and lead to untapped innovation opportunities.</p>
                    <p class="bold">Bespoke ethnographic research
                        Trend<br />
                        Technology and material research<br />
                        UX mapping<br />
                        Strategic insights and opportunities finding</p>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row jus-between" data-aos="fade-up" data-aos-duration="2000">
            <div class="col-1">
                <div class="project-title">
                    <p>Design</p>
                    <span class="horizontal-line"></span>
                </div>
            </div>
            <div class="col-1">
                <p>We take those radical insights and use design to translate them into tangible products that fit seamlessly into people’s lifestyles, improving their quality of life with their calm, timeless aesthetic.</p>
                <p class="bold">Concept generation <br />
                    Creative direction<br />
                    Industrial design<br />
                    Experience design (UX and UI)<br />
                    Internet of things (IoT)<br />
                    Interactive prototyping<br />
                    Packaging</p>
            </div>
        </div>
    </div>


    <div class="bg-lightGrey">
        <div class="container">
            <div class="row jus-between" data-aos="fade-up" data-aos-duration="2000">
                <div class="col-1">
                    <div class="project-title">
                        <p>Knowledge Transfer</p>
                        <span class="horizontal-line"></span>
                    </div>
                </div>
                <div class="col-1">
                    <p>We help forward-looking organisations to develop the mindsets and skillsets of designers and inventors so they can apply them to the multiple strands of their work. </p>
                    <p class="bold">Design thinking workshops<br />
                        Bespoke talks on human-centered design<br />
                        Magic in experience design<br />
                        IoT<br />
                        Mentoring for businesses and academia
                        Consulting</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-darkWhite">
        <div class="container" data-aos="fade-up" data-aos-duration="2000">
            <div class="row">
                <div class="col">
                    <div class="project-title">
                        <p>Estrategia</p>
                        <span class="horizontal-line"></span>
                    </div>
                    <div class="service-item">
                        <p>Tablero de oportunidades<br />
                            Auditoría de diseño y tendencias<br />
                            Tableros de posicionamiento<br />
                            Escenarios de uso y perfiles de usuario<br />
                            Hoja de producto<br />
                            Estrategia de servicio</p>
                    </div>
                </div>

                <div class="col">
                    <div class="project-title">
                        <p>Diseño industrial &amp; Ingeniería</p>
                        <span class="horizontal-line"></span>
                    </div>
                    <div class="service-item">
                        <p>Definición del producto y diseño ME conceptual<br />
                            Estudios de Factibilidad, Investigación Tecnológica e Investigación de Procesos<br />
                            Elementos Finitos y Análisis Térmico<br />
                            Diseño para Producción y Montaje de Bajo, Medio y Alto Volumen<br />
                            Ingeniería de sistemas<br />
                            Enfoque hacia la fabricación</p>
                    </div>
                </div>

                <div class="col">
                    <div class="project-title">
                        <p>Branding &amp; Digital</p>
                        <span class="horizontal-line"></span>
                    </div>
                    <div class="service-item">
                        <p>Branding &amp; Identity <br />
                            iOS &amp; Android apps<br />
                            UX/UI Design<br />
                            Naming<br />
                            Print &amp; Website<br />
                            Packaging &amp; Signage<br />
                            Analitycs<br />
                            Cloud services<br />
                        </p>
                    </div>
                </div>

                <div class="col">
                    <div class="project-title">
                        <p>Electrónica</p>
                        <span class="horizontal-line"></span>
                    </div>
                    <div class="service-item">
                        <p>I + D + I<br />
                            Diseño de PCBs y circuitos impresos<br />
                            Desarrollo de Firmware<br />
                            Desarrollo y diseño de microcontroldores<br />
                            Diseño de software integrado<br />
                            Desarrollo de sistemas integrados<br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" data-aos="fade-up" data-aos-duration="2000">
        <div class="row">
            <div class="">
                <div class="project-title">
                    <p>Selected Clients</p>
                    <span class="horizontal-line"></span>
                </div>

            </div>
        </div>
    </div>

    <div class="container" data-aos="fade-up" data-aos-duration="2000">
        <div class="row">
            <div class="" id="award">
                <div class="project-title">
                    <p>Awards</p>
                    <span class="horizontal-line"></span>
                </div>
                <div class="awards-slide">
                    <figure class="award-logo"><img src="img/redDot.png" alt="logo Red Dot" /></figure>
                    <figure class="award-logo"><img src="img/wima.png" alt="logo Wima" /></figure>
                    <figure class="award-logo"><img src="img/kbb.png" alt="logo KBB" /></figure>
                    <figure class="award-logo"><img src="img/100Ideas.png" alt="logo 100 Ideas" /></figure>
                </div>
            </div>
        </div>
    </div>


</main>

{{> footer}}
