{{> header}}

<!-- main wrapper push down sticky footer without header-->
<main class="site-content">
    <!-- main wrapper push down sticky footer-->

    <div class="container">
      <div class="col-grid box">
        <div class="grid-text col-2" data-aos="fade-up" data-aos-duration="2000">
            <h1 class="center">An award winning product design and innovation studio based in Barcelona.</h1>
            <h2 class="center">We help global organisations and startups to accelerate innovation by uncovering human insights and transforming them into tomorrow’s products, apps, services, and experiences.</h2>
        </div>
        <figure class="grid-image">
            <img src="../img/home-hero.jpg" alt="Perspectiva">
        </figure>
      </div>
    </div>

    <div class="project" data-aos="fade-up" data-aos-duration="2000">
        <div class="section-image">
          <img src="../img/project_03.jpg" alt="Perspectiva">
        </div>
        <div class="section-text">
          <div class="text-wrapper">
            <h2>Slickeep</h2>
            <p>IoT, Organize your ideas as beautiful boards that are perfect for visual thinkers.</p>
          </div>
        </div>
    </div>

    <div class="project" data-aos="fade-up" data-aos-duration="2000">
        <div class="section-text">
          <div class="text-wrapper">
            <h2>Slickeep</h2>
            <p>IoT, Organize your ideas as beautiful boards that are perfect for visual thinkers.</p>
          </div>
        </div>
        <div class="section-image">
          <img src="../img/project_03.jpg" alt="Perspectiva">
        </div>
    </div>

    <div class="project" data-aos="fade-up" data-aos-duration="2000">
        <div class="section-image">
          <img src="../img/project_03.jpg" alt="Perspectiva">
        </div>
        <div class="section-text">
          <div class="text-wrapper">
            <h2>Slickeep</h2>
            <p>IoT, Organize your ideas as beautiful boards that are perfect for visual thinkers.</p>
          </div>
        </div>
    </div>




</main>


{{> footer}}
