{{> header}}

<main class="site-content">
    <!-- main wrapper push down sticky footer-->

<div class="container">
  <div class="grid grid-between">
<div class="col col-sm" data-aos="zoom-in-up" data-aos-duration="2000">
<a href="projectDetail.html"><img src="../img/project_00.jpg"/></a>
<h4>PostBox</h4>
<span class="horizontal-line"></span>
<p>IoT</p>
</div>
<div class="col col-sm" data-aos="zoom-in-up" data-aos-duration="2000">
<a href="projectDetail.html"><img src="../img/project_00.jpg"/></a>
<h4>PostBox</h4>
<span class="horizontal-line"></span>
<p>IoT</p>
</div>
<div class="col col-sm" data-aos="zoom-in-up" data-aos-duration="2000">
<a href="projectDetail.html"><img src="../img/project_00.jpg"/></a>
<h4>PostBox</h4>
<span class="horizontal-line"></span>
<p>IoT</p>
</div>
    </div>
      </div>

      <div class="container">
        <div class="grid grid-between">
      <div class="col col-sm" data-aos="zoom-in-up" data-aos-duration="2000">
      <a href="projectDetail.html"><img src="../img/project_00.jpg"/></a>
      <h4>PostBox</h4>
      <span class="horizontal-line"></span>
      <p>IoT</p>
      </div>
      <div class="col col-sm" data-aos="zoom-in-up" data-aos-duration="2000">
      <a href="projectDetail.html"><img src="../img/project_00.jpg"/></a>
      <h4>PostBox</h4>
      <span class="horizontal-line"></span>
      <p>IoT</p>
      </div>
      <div class="col col-sm" data-aos="zoom-in-up" data-aos-duration="2000">
      <a href="projectDetail.html"><img src="../img/project_00.jpg"/></a>
      <h4>PostBox</h4>
      <span class="horizontal-line"></span>
      <p>IoT</p>
      </div>
          </div>
            </div>


</main>





{{> footer}}
