{{> header}}

<main class="site-content">

    <!-- main wrapper push down sticky footer-->
    <div class="container">
        <figure>
            <img src="../img/banner-image-1.jpg" alt="Perspectiva Headquarters" />
        </figure>
    </div>

    <div class="container">
        <div class="grid grid-between">
          <div class="col col-sm">
                  <p><b>Client:</b><br />
                  Slickeep</p>
                  <p><b>Task:</b><br />
                  Branding, Digital, Industrial Design, Engineering, Hardware, Strategy.</p>
          </div>

            <div class="col-6 col-sm">
                    <p><b>IoT:</b><br />
                    <p>Client intuition, immersive research, coherent design, invisible technology, and principles of magic are the strands of our innovation process.</p>
                    <p>It is this precise alchemy that enables us to create a clear and pure design experience which looks and feels effortless, but is completely underpinned by precision, skill and craft.</p>
            </div>
        </div>
    </div>

<div class="container">
  <div class="grid">
    <div class="col col-sm">
      <figure>
          <img src="../img/R2D2.jpg" alt="Marc Real" />
      </figure>
    </div>
    <div class="col col-sm">
      <figure>
          <img src="../img/R2D2.jpg" alt="Marc Real" />
      </figure>
    </div>
  </div>
</div>

<div class="container">
    <figure>
        <img src="../img/banner-image-1.jpg" alt="Perspectiva Headquarters" />
    </figure>
</div>

<div class="container">
  <div class="grid">
    <div class="col col-sm">
      <figure>
          <img src="../img/R2D2.jpg" alt="Marc Real" />
      </figure>
    </div>
    <div class="col col-sm">
      <figure>
          <img src="../img/R2D2.jpg" alt="Marc Real" />
      </figure>
    </div>
  </div>
</div>

</main>

{{> footer}}
