{{> header}}

<main class="site-content">
    <!-- main wrapper push down sticky footer-->

<div class="container">
  <div class="grid grid-between">
<div class="col-3 col-sm">
<a><img src="../img/project_00.jpg"/></a>
</div>
<div class="col-3 col-sm">
<a href="projectDetail.html"><img src="../img/project_00.jpg"/></a>
</div>
<div class="col-3 col-sm">
<a><img src="../img/project_00.jpg"/></a>
</div>
    </div>
</div>

</main>





{{> footer}}
