{{> header}}

<section role="main" class="main">
  <!-- main wrapper push down sticky footer-->


  <div class="bg-lightGrey">
    <div class="container-wrapper">
      <div class="services-align" id="method">
        <div class="project-title">
          <p>Method</p>
          <div class="em-dash"></div>
        </div>
        <div class="copy-services-wrapper">
          <p>Client intuition, immersive research, coherent design, invisible technology, and principles of magic are the strands of our innovation process.</p>
          <p>It is this precise alchemy that enables us to create a clear and pure design experience which looks and feels effortless, but is completely underpinned by precision, skill and craft.</p>
          <p>We draw from myriad disciplines: electronics, interaction, industrial design, visual communication, art and magic thinking to create timeless and purposeful products and environment that have the power to elicit surprise and delight in the
            people we design for.</p>
          <p>Specifically, our services include:</p>
        </div>
      </div>
    </div>
  </div>




<div class="bg-mediumGrey">
  <div class="container-wrapper">
    <div class="services-right" id="exploration">
      <div class="project-title">
        <p>Exploration</p>
        <div class="em-dashWhite"></div>
      </div>
      <div class="copy-services-wrapper">
        <p>We look into human needs, expectations and dreams to reveal the radical insights that will open up new strategic directions and lead to untapped innovation opportunities.</p>
        <p class="bold">Bespoke ethnographic research
          Trend, technology and material research
          UX mapping
          Strategic insights and opportunities finding</p>
      </div>
    </div>
  </div>
</div>


<div class="bg-lightGrey">
  <div class="container-wrapper">
    <div class="services-right" id="design">
      <div class="project-title">
        <p>Design</p>
        <div class="em-dash"></div>
      </div>
      <div class="copy-services-wrapper">
        <p>We take those radical insights and use design to translate them into tangible products that fit seamlessly into people’s lifestyles, improving their quality of life with their calm, timeless aesthetic.</p>
        <p class="bold">Concept generation
          Creative direction
          Industrial design
          Experience design (UX and UI)
          Internet of things (IoT)
          Interactive prototyping
          Packaging</p>
      </div>
    </div>
  </div>
</div>


<div class="bg-mediumGrey">
  <div class="container-wrapper">
    <div class="services-right" id="transfer">
      <div class="project-title">
        <p>Knowledge Transfer</p>
        <div class="em-dashWhite"></div>
      </div>
      <div class="copy-services-wrapper">
        <p>We help forward-looking organisations to develop the mindsets and skillsets of designers and inventors so they can apply them to the multiple strands of their work. </p>
        <p class="bold">Design thinking workshops
          Bespoke talks on human-centered design, magic in experience design, IoT
          Mentoring for businesses and academia
          Consulting</p>
      </div>
    </div>
  </div>
</div>






  <!--

  <section class="services" id="services-list">
    <h4>Estrategia</h4>
    <p>Tablero de oportunidades
      Auditoría de diseño y tendencias
      Tableros de posicionamiento
      Escenarios de uso y perfiles de usuario
      Hoja de producto
      Estrategia de servicio</p>

    <h4>Diseño industrial e ingeniería</h4>
    <p>Definición del producto y diseño ME conceptual
      Estudios de Factibilidad, Investigación Tecnológica e Investigación de Procesos
      Elementos Finitos y Análisis Térmico
      Diseño para Producción y Montaje de Bajo, Medio y Alto Volumen
      Ingeniería de sistemas
      Enfoque hacia la fabricación</p>

    <h4>Electrónica</h4>
    <p>I + D + I
      Diseño de PCBs y circuitos impresos
      Desarrollo de Firmware
      Desarrollo y diseño de microcontroldores
      Diseño de software integrado
      Desarrollo de sistemas integrados
    </p>

    <h4>Branding &amp; Digital</h4>
    <p>Branding
      Identity
      iOS &amp; Android apps
      UX/UI Design
      Naming
      Print
      Packaging
      Website
      Analitycs
      Cloud services
      Signage</p>
  </section>

  <section class="services-flexgrid" id="clients">
  </section>

  <section class="services-left" id="awards">
  </section> -->


</section>

{{> footer}}
